{%extends "./common.html" %}

{% block content %}

    <div class="d-flex bd-highlight">
        <div class="align-self-center">
            <h1>Task Scheduler</h1>
           <p> A <strong>Task Scheduler</strong> helps you organize, plan, and manage your tasks efficiently. Whether you're tracking daily goals, project deadlines, or reminders, it keeps you focused and productive. </p> <p> Key features include: <ul> <li><strong>Task Title & Description</strong></li> <li><strong>Deadlines & Priorities</strong></li> <li><strong>Status Tracking</strong> (To Do, In Progress, Done)</li> <li><strong>Reminders & Recurring Tasks</strong></li> </ul> </p> <p> Stay organized. Get things done. Make your day more productive with a smart scheduler. </p>
        </div>
        <div class="p-2 bd-highlight">
            <img src="https://i.pinimg.com/736x/09/da/96/09da96ca14b546b26ad8297557bcb5b8.jpg" alt="image" />
        </div>
    </div>

    {% endblock %}